{% extends "base.html" %}

{% block title %}Manage Enrollment{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Enrollment Management</h3>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add New Enrollment</button>
</div>

<div class="card-custom">
    <table class="table align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Course</th>
                <th>Status</th>
                <th>Enrollment Date</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for s in enrollment %}
            <tr>
                <td>{{ s['enrollment_id'] }}</td>
                <td><strong>{{ s['student_name'] }}</strong></td>
                <td>{{ s['course_name'] }}</td>
                <td>
                    <span class="status-{{ s['status'] | lower }}">
                        {{ s['status'] }}
                    </span>
                </td>
                <td>{{ s['enrollment_date'] }}</td>
                <td class="text-end">
                    <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#edit{{ s['enrollment_id'] }}">Edit</button>
                    <form action="/enrollment/{{ s['enrollment_id'] }}/delete" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger"
                            onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for s in enrollment %}
<div class="modal fade" id="edit{{ s['enrollment_id'] }}" tabindex="-1">
    <div class="modal-dialog">
        <form action="/enrollment/{{ s['enrollment_id'] }}/update" method="POST" class="modal-content">
            <div class="modal-header">
                <h5>Update enrollment</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" name="enrollment_id" value="{{ s['enrollment_id'] }}">
                <!-- select student  -->
                <div class="mb-3">
                    <label for="student_id" class="form-label">Student</label>
                    <select name="student_id" class="form-control" required>
                        <option value="">Select Student</option>
                        {% for student in students %}
                        <option value="{{ student['student_id'] }}" {% if student['student_id']==s['student_id']
                            %}selected{% endif %}>
                            {{ student['name'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <!--  select course -->
                <div class="mb-3">
                    <label for="course_id" class="form-label">Course</label>
                    <select name="course_id" class="form-control" required>
                        <option value="">Select Course</option>
                        {% for course in courses %}
                        <option value="{{ course['course_id'] }}" {% if course['course_id']==s['course_id'] %}selected{%
                            endif %}>
                            {{ course['course_name'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- select status -->
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" class="form-control" required>
                        <option value="">Select Status</option>
                        <option value="Active" {% if s['status']=='Active' %}selected{% endif %}>Active</option>
                        <option value="Completed" {% if s['status']=='Completed' %}selected{% endif %}>Completed
                        </option>
                        <option value="Dropped" {% if s['status']=='Dropped' %}selected{% endif %}>Dropped</option>
                    </select>
                </div>
                <!-- enrollment date -->
                <div class="mb-3">
                    <label for="enrollment_date" class="form-label">Enrollment Date</label>
                    <input type="date" name="enrollment_date" class="form-control" value="{{ s['enrollment_date'] }}"
                        required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
{% endfor %}

<div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
        <form action="/enrollment" method="POST" class="modal-content">
            <div class="modal-header">
                <h5>Add Student Enrollment</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="student_id" class="form-label">Student</label>
                    <select name="student_id" class="form-control" required>
                        <option value="">Select Student</option>
                        {% for student in students %}
                        <option value="{{ student['student_id'] }}">
                            {{ student['name'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="course_id" class="form-label">Course</label>
                    <select name="course_id" class="form-control" required>
                        <option value="">Select Course</option>
                        {% for course in courses %}
                        <option value="{{ course['course_id'] }}">
                            {{ course['course_name'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" class="form-control" required>
                        <option value="">Select Status</option>
                        <option value="Active">Active</option>
                        <option value="Completed">Completed</option>
                        <option value="Dropped">Dropped</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="enrollment_date" class="form-label">Enrollment Date</label>
                    <input type="date" name="enrollment_date" class="form-control" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Add Enrollment</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}